body {
    padding: 50px 0;
    /* position: relative; */
}

header,
footer {
    text-align: center;
    /* height: 30px; */
}

header {
    /* background: blue; */
}

main {
    /* background: red; */
    /* height: calc(100% - 60px); */
    /* padding-top: 30px; */
}

.calculator {
    width: calc(var(--main-container-width) + (var(--flex-gap) * 2));
    background: white;
    margin: 0 auto;
    padding: var(--flex-gap);
    box-shadow: 5px 5px 10px var(--grey);
    border-radius: var(--main-radius);
}

.btn-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2px;
    width: var(--main-container-width);
}

.calc-btn {
    width: calc((var(--main-container-width)/var(--divisor)) - var(--flex-gap));
    height: calc((var(--main-container-width)/var(--divisor)) - var(--flex-gap));
    background: #121212;
    color: #fefefe;
    border-radius: var(--main-radius);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.calc-result-section {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-bottom: var(--flex-gap);
}

.user-input,
.result,
.span-user-input {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.user-input,
.result {
    height: 25px;
}

.user-input {
    width: 0px;
    /* border: 1px solid red; */
}

.span-user-input {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 0px;
    visibility: hidden;
}

footer {
    text-align: center;
    /* background: yellow; */
}